.App {
  height: 100vh;

  background-color: beige;
}

.AppHeader {
  border-block-end: 4px dashed tomato;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
