.ItemList {
  display: flex;
  flex-direction: column;

  /* display: relative; */
  margin: 0;
  padding: 0;

  list-style: none;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
